
<div class="header">
	<p>Your Favorite StudyBuddies</p>
</div>

<div class="body">
	<div class="favs">
	<% @curr_favs.each do |fav| %> 
		<div class="username"><%= fav[0] %></div>
		<div class="classes"> 
		<% fav[1].each do |c| %> 
			<div class="class"><%= c[0] %></div>
			<div class="status"><%= c[1] %></div>
			<div class="statusIndex"><%= c[2] %></div>
		<% end %>
		</div>
		<br/>
	<% end %>
	</div>
</div>

<div class="navbar-test">
	<div class="button"><%= link_to 'Profile', :action => "profile" %></div>
	<div class="button"><%= link_to 'BuddyMap', :action => "map" %></div>
	<div class="button" id="selected"><%= link_to 'Favorites', :action => "favs" %></div>
</div>