<div class="header">
	<p>StudyBuddy Map</p>
</div>



<div class="body">

	<% if flash[:notice] %>
  		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

	MAP Here:
	<div> Your Pin: <%= @curr_user_pin %> </div>
	<br>
	Your Friend Pins:<br>
	<% @friend_pins.each do |pin| %> 
		<div> <%= pin %> </div>
	<% end %>
</div>

<div class="navbar-test">
	<div class="button"><%= link_to 'Profile', :action => "profile"%></div>
	<div class="button" id="selected"><%= link_to 'BuddyMap', :action => "map"  %></div>
	<div class="button"><%= link_to 'Favorites', :action => "favs" %></div>
</div>