
<div class="header">
	<p>Your StudyBuddy Profile</p>
</div>


<div class="body">
		<div class="username"><%= @curr_user %> <br/></div>
		<table class="form" id="class">
		<%= form_tag(:action => :post_profile ) do %>
			<% classIndex = 0 %>
			<% for c in @curr_user_classes do %>
				<%= hidden_field_tag(:class, classIndex) %>
				  <tr>
				    <td colspan="2"><%= label_tag(c[0]) %></td>
			      </tr> 
			      <tr>
			  	    <td colspan="2"><%= label_tag(c[1]) %></td>
			  	  </tr>
			  	  <tr>
			        <td><%= text_field_tag(:status) %></td>
			        <td><%= submit_tag("Edit Status") %></td>
			      </tr>
			  	<% classIndex = classIndex + 1%>
			<% end %>			
		<% end %>
		</table>
	</div>
</div>


<div class="navbar-test">
	<div class="button" id="selected"><%= link_to 'Profile', :action => "profile" %></div>
	<div class="button"><%= link_to 'BuddyMap', :action => "map" %></div>
	<div class="button"><%= link_to 'Favorites', :action => "favs" %></div>
</div>